<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<%- messages() %>
<form action="/inv/inventory" method="post" class="form">
    <p>All Fields are Required</p>
    <label for="inv_make">Vehicle Make</label>
    <input type="text" name="inv_make" id="inv_make" required value="<%= locals.inv_make %>">

    <label for="inv_model">Vehicle Model</label>
    <input type="text" name="inv_model" id="inv_model" required value="<%= locals.inv_model %>">

    <label for="inv_year">Vehicle Year</label>
    <input type="number" name="inv_year" id="inv_year" required value="<%= locals.inv_year %>">

    <label for="inv_description">Vehicle Description</label>
    <input type="text" name="inv_description" id="inv_description" required value="<%= locals.inv_description %>">

    <label for="inv_image">Vehicle Image</label>
    <input type="text" name="inv_image" id="inv_image" value="/images/vehicles/no-image.png" required value="<%= locals.inv_image %>">

    <label for="inv_thumbnail">Vehicle Thumbnail</label>
    <input type="text" name="inv_thumbnail" id="inv_thumbnail" value="/images/vehicles/no-image-tn.png" required value="<%= locals.inv_thumbnail %>">

    <label for="inv_price">Vehicle Price</label>
    <input type="number" name="inv_price" id="inv_price" required value="<%= locals.inv_price %>">

    <label for="inv_miles">Vehicle Miles</label>
    <input type="number" name="inv_miles" id="inv_miles" required value="<%= locals.inv_miles %>">

    <label for="inv_color">Vehicle Color</label>
    <input type="text" name="inv_color" id="inv_color" required value="<%= locals.inv_color %>">

    <label for="classification_id">Vehicle Classification ID</label>
    <select id="classification_id" name="classification_id">
        <%- dropdown %>
    </select>
    <button type="submit">Submit</button>
</form>